<div class="media-list-item">
    <div class="media-header">
        <input type="checkbox"
               data-dojo-attach-point="checkbox"
               data-dojo-type="dijit/form/CheckBox"/>
        <label for="chb_1">${mediaItemInfo.name}</label>
    </div>
    <div data-dojo-type="ngw-media/VideoControls"
         data-dojo-attach-point="videoControls"
         data-dojo-props="mediaListItem: this"></div>

    <div data-dojo-type="ngw-media/MediaControls"
         data-dojo-attach-point="mediaControls"
         data-dojo-props="mediaListItem: this"></div>
</div>