<div class="media-toolbar video-controls disabled">
    <input type="range" value="0" disabled="disabled" data-dojo-attach-point="seekRangeElement"/>
    <span data-dojo-attach-point="durationElement">00:00</span>
</div>