div.media-panel div.media-list {
    position: absolute;
    left: 5px;
    right: 5px;
}

div.media-panel div.media-list-item {
    width: 100%;
    box-sizing: border-box;
    border: solid 1px #B5BCC7;
    padding: 5px;
    margin-top: 5px;
    background-color: #FAFAFA;
}

div.media-panel div.media-list-item div.media-header {
    padding-bottom: 5px;
    margin-bottom: 2px;
}

div.media-panel div.media-list-item div.media-toolbar {
    text-align: left;
    border-top: solid 1px #D9DCE1;
}

div.media-panel div.media-list-item div.media-toolbar div.type {
    display: inline-block;
    text-align: left;
}

/*div.media-panel div.media-list-item div.media-toolbar div.right {*/
    /*width: 80%;*/
    /*display: inline-block;*/
    /*text-align: right;*/
/*}*/

div.media-panel div.media-list-item div.media-toolbar div.icon {
    display: inline-block;
    color: #909FB6;
}

div.media-panel div.media-list-item div.media-toolbar div.icon-zoom-in {
    cursor: pointer;
}

div.media-panel div.media-list-item div.media-toolbar div.color-picker-wrapper {
    display: table;
    position: fixed;
}

div.media-panel div.media-list-item div.media-toolbar table.dojoxColorPicker {
    position: absolute;
    display: table-cell;
    margin-left: 4px;
    background-color: white;
}

div.media-panel div.media-list-item span.dijitReset.dijitStretch.dijitButtonContents {
    display: none;
}

div.media-panel div.media-list-item .dijitToggleButtonChecked span.dijitButtonNode {
    background-color: #1385F2;
}

div.media-panel div.media-list-item span.dijitDisabled span.dijitButtonNode {
    background-color: #EAEAEA;
}